*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container-header{
    max-width: 900px;
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #2A377E;
    height: 70px;
    display: flex;
}

header img{
    width: 100px;
}

.navegação ul li a{
    color: white;
    text-decoration: none;
}

.navegação ul{
    display: flex;
    gap: 20px;
    
}

main{
    background-image: url(./imagens/cs2.jpg);
    background-size: cover;
    height: 600px;
}

.container-download{
    max-width: 900px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: right;
}

.download button{
    margin-top: 20vw;
    width: 250px;
    height: 50px;
    background-color: #2A377E;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.download button:hover{
    background-color: #5562aa;
    transform: scale(1.1);
    border-radius: 5px;
}

section{
    background-color: #E48716;
}

.container-sobre{
    max-width: 900px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.container-sobre h2{
    color: white;
    font-size: 50px;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.container-sobre p{
    padding-bottom: 3vw;
    color: white;
}

.container-faq{
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding-bottom: 8vw;
}

footer{
    background-color: #2A377E;
    color: white;
    font-size: 25px;
}

.pergunta{
    background-color: #E48716;
    padding-left: 20px;
    height: 50px;
    padding-top: 10px;
}

.resposta{
    border: 1px solid #E48716;
    padding-left: 20px;
}

.faq-item{
    margin-bottom: 50px;
}